<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel Castellano</title>

    <!-- CDN AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- icons - JS CDN fontAwsome-->

    <script src="https://kit.fontawesome.com/3c454cd2d8.js" crossorigin="anonymous"></script>


    <!-- Bootstrap's CDN CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- inizio HEADER -->
    <div class="container-fluid p-2 headerStyle">
        <div class="row ms-5">
            <div class="col-12 col-md-4 col-lg-5"><i class="fa-solid fa-location-dot"></i>
                Via dei Pellegrini 18, 88068 Soverato, Catanzaro
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <i class="fa-solid fa-phone"></i> +0968 000 000
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <a href="mailto:hotelcastellano@newmail.it">
                    <i class="fa-solid fa-envelope "></i>
                    hotelcastellano@newmail.it
                </a>
            </div>
        </div>
    </div>

    <!-- inizio NAVBAR -->
    <nav id="navBar" class="navbar navbar-expand-lg altFont bg-1 fs-4 p-0 sticky-top nav-scrolled">
        <div class="container-fluid">

            <img src="../../media/iconaCastello.gif" alt="logoHotel" class="logoHotel">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 be-1">
                    <li class="nav-item border-end">
                        <a class="nav-link active" aria-current="page" href="../views/index.html">Home</a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link" href="#">Il Castello</a>
                    </li>

                    <div class="btn-group border-end">
                        <a href="#" type="button" class="btn fs-4">Le Camere</a>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu fs-5">
                            <li><a class="dropdown-item" href="#">Nido del Principe</a></li>
                            <li><a class="dropdown-item" href="#">Camera Regale</a></li>
                            <li><a class="dropdown-item" href="#">Camera Consiglieri</a></li>
                            <li><a class="dropdown-item" href="#">Camera Jolly</a></li>
                        </ul>
                    </div>
                    <li class="nav-item border-end ">
                        <a class="nav-link color-4" href="../views/products.html">PRENOTA ORA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2 searchBox " type="search" placeholder="Scrivi qui la tua richiesta"
                        aria-label="Search">
                    <button class="btn btn-outline-success cercaMod searchBox " type="submit">Invia</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- fine NAVBAR -->

    <!-- continuazione HEADER -->
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class="col-12 col-md-8 ">
                <img src="../../media/mainImage.gif" alt="castello" class="img-fluid rounded-pill ">
            </div>
        </div>

        <div class="row">
            <h1 class="titleFont titleMod text-center mt-4 p-2">HOTEL CASTELLANO</h1>
        </div>
    </div>
    <hr>
    <h2 class="serviziMod text-center">ESPERIENZE E SERVIZI</h2>
    <div class="container">
        <div class="row mt-5">
            <div class="col-4 col-lg-2 my-1" data-aos="flip-down" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" data-aos-delay="300">
                <div class="box-header">
                    <i class="fa-solid fa-person-biking fa-new" data-aos="zoom-in" data-aos-delay="1000"
                        data-aos-duration="3000"></i>
                    <p>Noleggio mountain bike, con o senza guida esperta. Numerosi tracciati disponibili.
                    </p>
                </div>
            </div>
            <div class="col-4 col-lg-2 my-1" data-aos="flip-down" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" data-aos-delay="400">
                <div class="box-header">
                    <i class="fa-solid fa-horse fa-new" data-aos="zoom-in" data-aos-delay="1000"
                        data-aos-duration="3000"></i>
                    <p>Esplora le meraviglie della corte del Castellano in sella a un cavallo. Con guida.
                    </p>
                </div>
            </div>
            <div class="col-4 col-lg-2 my-1" data-aos="flip-down" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" data-aos-delay="500">
                <div class="box-header">
                    <i class="fa-solid fa-person-hiking fa-new" data-aos="zoom-in" data-aos-delay="1000"
                        data-aos-duration="3000"></i>
                    <p>Sessioni di trekking nelle vaste colline della corte, alla scoperta delle antiche tradizioni.
                    </p>
                </div>
            </div>
            <div class="col-4 col-lg-2 my-1" data-aos="flip-down" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" data-aos-delay="600">
                <div class="box-header">
                    <i class="fa-solid fa-crow fa-new" data-aos="zoom-in" data-aos-delay="1000"
                        data-aos-duration="3000"></i>
                    <p>Percorsi specifici per birdwatching della fauna locale, con mappa sentieri e guida esperta.
                    </p>
                </div>
            </div>
            <div class="col-4 col-lg-2 my-1" data-aos="flip-down" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" data-aos-delay="700">
                <div class="box-header">
                    <i class="fa-solid fa-bath fa-new" data-aos="zoom-in" data-aos-delay="1000"
                        data-aos-duration="3000"></i>
                    <p>Vasca idromassaggio con doccia sensoriale. Disponibile nelle Camere Jolly.
                    </p>
                </div>
            </div>
            <div class="col-4 col-lg-2 my-1" data-aos="flip-down" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" data-aos-delay="800">
                <div class="box-header">
                    <i class="fa-solid fa-table-tennis-paddle-ball fa-new" data-aos="zoom-in" data-aos-delay="1000"
                        data-aos-duration="3000"></i>
                    <p>Campi da tennis e da padel, con possibilità di mini corsi e mini-tornei (su prenotazione).
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- fine HEADER -->
    <hr>
    <!-- inizio CAROUSEL -->
    <div class="container fluid">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../media/castelloOttocento.jpg" class="d-block w-100 imgCustom" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Il Castello</h5>
                                <p>Esplorea liberamente la corte del Castellano e immergiti nella incantevole cornice
                                    ottocentesca di questo incantevole luogo senza tempo.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../media/cameraMatrimoniale.jpg" class="d-block w-100 imgCustom" alt="...">
                            <div class="carousel-caption d-none d-md-block ">
                                <h5>Camera Regale</h5>
                                <p>Ampie Camere matrimoniali con letti extra-size, finemente arredate con mobili e opere
                                    d'arte di pregio.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../media/cameraBreakfast.jpg" class="d-block w-100 imgCustom" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Sala Breakfast</h5>
                                <p>Una ricca colazione intercontinentale a buffet ti darà il buongiorno e la carica
                                    giusta per goderti uno dei tanti svaghi disponibili.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- fine CAROUSEL -->

    <!-- inizio FOOTER -->
    <footer class="py-3 my-4 ">
        <div class="container-fluid p-2 headerStyle">
            <div class="row ms-5">
                <div class="col-12 col-md-4 col-lg-5"><i class="fa-solid fa-location-dot"></i>
                    Via dei Pellegrini 18, 88068 Soverato, Catanzaro
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <i class="fa-solid fa-phone"></i> +0968 000 000
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <a href="mailto:hotelcastellano@newmail.it">
                        <i class="fa-solid fa-envelope "></i>
                        hotelcastellano@newmail.it
                    </a>
                </div>
            </div>
        </div>
        <p class="text-center  bg-3 text-white p-2"> Bob Enterprise® - © 2025 Tutti I diritti riservati - P.Iva
            03003003000
            - Privacy Policy
        </p>
    </footer>
    <!-- fine FOOTER -->




    <!-- AoS JS  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- Bootstrap's CDN JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- My JS -->
    <script src="../js/main.js"></script>
</body>

</html>