<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel Castellano</title>


    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- icons - JS CDN fontAwsome-->

    <script src="https://kit.fontawesome.com/3c454cd2d8.js" crossorigin="anonymous"></script>


    <!-- Bootstrap's CDN CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- inizio HEADER -->
    <div class="container-fluid p-2 headerStyle">
        <div class="row ms-5">
            <div class="col-12 col-md-4 col-lg-5"><i class="fa-solid fa-location-dot"></i>
                Via dei Pellegrini 18, 88068 Soverato, Catanzaro
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <i class="fa-solid fa-phone"></i> +0968 000 000
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <a href="mailto:hotelcastellano@newmail.it">
                    <i class="fa-solid fa-envelope "></i>
                    hotelcastellano@newmail.it
                </a>
            </div>
        </div>
    </div>

    <!-- inizio NAVBAR -->

    <nav id="navBar" class="navbar navbar-expand-lg altFont bg-1 fs-4 p-0 sticky-top nav-scrolled">
        <div class="container-fluid">

            <img src="../../media/iconaCastello.gif" alt="logoHotel" class="logoHotel">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 be-1">
                    <li class="nav-item border-end">
                        <a class="nav-link active" aria-current="page" href="../views/index.html">Home</a>
                    </li>
                    <li class="nav-item border-end">
                        <a class="nav-link" href="#">Il Castello</a>
                    </li>

                    <div class="btn-group border-end">
                        <a href="#" type="button" class="btn fs-4">Le Camere</a>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu fs-5">
                            <li><a class="dropdown-item" href="#">Nido del Principe</a></li>
                            <li><a class="dropdown-item" href="#">Camera Regale</a></li>
                            <li><a class="dropdown-item" href="#">Camera Consiglieri</a></li>
                            <li><a class="dropdown-item" href="#">Camera Jolly</a></li>
                        </ul>
                    </div>
                    <li class="nav-item border-end ">
                        <a class="nav-link color-4" href="../views/products.html">PRENOTA ORA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2 searchBox " type="search" placeholder="Scrivi qui la tua richiesta"
                        aria-label="Search">
                    <button class="btn btn-outline-success cercaMod searchBox " type="submit">Invia</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- fine NAVBAR -->

    <!-- inizio sezione FILTRI RICERCA -->



    <!-- inizio sezione FILTRI RICERCA -->


    <!-- inizio FOOTER -->

    <footer class="py-3 my-4 ">
        <div class="container-fluid p-2 headerStyle">
            <div class="row ms-5">
                <div class="col-12 col-md-4 col-lg-5"><i class="fa-solid fa-location-dot"></i>
                    Via dei Pellegrini 18, 88068 Soverato, Catanzaro
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <i class="fa-solid fa-phone"></i> +0968 000 000
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <a href="mailto:hotelcastellano@newmail.it">
                        <i class="fa-solid fa-envelope "></i>
                        hotelcastellano@newmail.it
                    </a>
                </div>
            </div>
        </div>
        <p class="text-center  bg-3 text-white p-2"> Bob Enterprise® - © 2025 Tutti I diritti riservati - P.Iva
            03003003000
            - Privacy Policy
        </p>
    </footer>

    <!-- fine FOOTER -->




    <!-- AoS JS  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- Bootstrap's CDN JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- My JS -->
    <script src="../js/main.js"></script>
</body>

</html>